.ib{
    display: inline-block;
    margin-right: 30px;
}

hr{
    height: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#creepers{
    position: relative;
    bottom: 25px;
}

.btn-asset{
    background-color: #885C00;
    color: white;
}

.btn-outline-asset{
    background-color: white;
    color: #885C00;
    border-color: #885C00;
}

/*
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}*/

/* Mouse-over effects */
/*.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}*/

