.ib{
    display: inline-block;
    margin-right: 30px;
}

hr{
    height: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#creepers{
    position: relative;
    bottom: 25px;
}

.btn-asset{
    background-color: #885C00;
    color: white;
}

btn-asset:hover{
    background-color: #885C00;
    color: white;
}

.btn-outline-asset{
    background-color: white;
    color: #885C00;
    border-color: #885C00;
}

.btn-outline-asset:hover{
    background-color: #885C00;
    color: white;
}

#agents_list_container{
    height: 400px;
    overflow: scroll;
}

.list-group-item.active{
    background-color: #FFC700;
    border-color: #FFC700;
}

