.ib{
    display: inline-block;
    margin-right: 30px;
}

#creepers{
    position: relative;
    bottom: 25px;
}

.btn-asset{
    background-color: #885C00;
    color: white;
}

btn-asset:hover{
    background-color: #885C00;
    color: white;
}

.btn-outline-asset{
    background-color: white;
    color: #885C00;
    border-color: #885C00;
}

.btn-outline-asset:hover{
    background-color: #885C00;
    color: white;
}

#agents_list_container{
    height: 400px;
    overflow-y: scroll;
}

.list-group-item{
    border-color: white;
}

.list-group-item.active{
    background-color: #FFC700;
    border-color: #FFC700;
}

.list-group-item.disabled{
    background-color: lightgrey;
    border-color: lightgrey;
}

hr.solid {
    border-top: 2px solid #999;
}

.card > img{
    height: 125px;
    object-fit: cover;
    object-position: 5% 0%;
}

.introjs-tooltip {
    min-width: 400px;
    max-width: 500px;
}